<section class="dashboard-wrapper">

    <header class="dashboard-header">
        <h1>Dashboard</h1>
        <p>Control and manage your products easily</p>
    </header>

    <div class="dashboard-cards">

        <div class="card-box">
            <span class="card-icon">🛒</span>
            <h3 class="card-title">Product Manager</h3>

            <p class="card-text">View and maintain product</p>
            <button routerLink="/products" class="card-btn">
                Search Products →
            </button>
        </div>

        <div class="card-box">
            <span class="card-icon">🔎</span>
            <h3 class="card-title">Quick Search</h3>
            <p class="card-text">Locate Carts instantly</p>
            <button class="card-btn" routerLink="/carts">Search Carts →</button>
        </div>

    </div>

</section>